.App {
  text-align: center;
}

/* body {
  background-image: url(Components/Img/principal.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

button {
  width: 260px;
  background-color: rgba(6, 215, 252, 0.776);
  color:rgb(255, 255, 255);
  /* display: inline-block; */
  font-size: 1em;
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 1s;
  flex-wrap: wrap;
  justify-content: space-between;
  float: flex;
}
button:hover{
  color: white;
  cursor: pointer;
  transition: 1s;
  /* background-color: rgba(6, 215, 252, 0.824); */
  background-image: url(Components/Img/Eventos.png);
  background-position: top;
  box-shadow: 0 0 50px 0 rgb(2, 62, 139);
  
}

::-webkit-input-placeholder{
  text-align: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

input{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.345);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 1s;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  float: flex;
}

input:hover{
  box-shadow: 0 0 10px 0 white;
  cursor: pointer;
  transition: 1s;
  padding: 11px;
}

form{
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(6, 215, 252, 0.459);
  box-shadow: 0 0 50px 0 white;
  background-image: url(Components/Img/Premio.png);
  background-size: 500px;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-position: left;
  width: 70%;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  float: flex;
}

.formulario {
  font-size: 50px; 
  color: whitesmoke;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 8px;
  margin-left: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  float: flex;
}

.logo {
  background-image: url(Components/Img/CARNITA\ LAVA\ FULL.PNG);
  background-size: 375px;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  padding: 100px;
  flex-wrap: wrap;
  justify-content: space-between;
  float: flex;
}

.logo2{
  background-image: url(Components/Img/reglamentos2.png);
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  flex-wrap: wrap;
  justify-content: space-between;
  float: flex;
}

.title-Reglamentos {
  background-image: url(Components/Img/REGLAMENTO.png);
}

.title-title-reglamento {
  background-image: url(Components/Img/vamos-primero-a-lo-lindo.png);
}

.title-title-reglamento2 {
  background-image: url(Components/Img/Y-AHORA-VAYAMOS-POR-LA-P.png);
}

.title-title-reglamento3 {
  background-image: url(Components/Img/TODAS-LA-NORMAS-QUEDAN-S.png);
}

.title-Misiones {
  background-image: url(Components/Img/MISIONES.png);
}

.title-Progreso {
  background-image: url(Components/Img/PROGRESOS.png);
}

.title-Carnita-Land {
  background-image: url(Components/Img/CARNITA-LAND.png);
}

.title-Games {
  background-image: url(Components/Img/GAMES.png);
}

.title-Eventos {
  background-image: url(Components/Img/EVENTOS\ \(2\).png);
}

.title-Registro {
  background-image: url(Components/Img/REGISTRATE.png);
}


.title-Reglamentos, .title-Misiones, .title-Progreso, .title-Eventos, .title-Registro, .title-title-reglamento {
  padding: 50px;
  width: 70%;
  margin: auto;
  background-position: center;
  background-size: 378px;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.404);
  border: 1px solid #cccc;
  box-shadow: 0 0 10px 0 white;
  border-radius: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  float: flex;
  flex-shrink: 1;
  flex-basis: 24%;
}

.title-title-reglamento3, .title-title-reglamento2 {
  padding: 29px;
  background-position: center;
  background-size: 327px;
  width: 70%;
  margin: auto;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.404);
  border: 1px solid #cccc;
  box-shadow: 0 0 10px 0 white;
  border-radius: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  float: flex;
  flex-shrink: 1;
  flex-basis: 24%;
}

.title-Games, .title-Carnita-Land{
  padding: 90px;
  background-position: center;
  background-size: 380px;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.404);
}

.title-Games {
  border-bottom: 1px solid #cccc;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.title-Carnita-Land {
  border-top: 1px solid #cccc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.logoInicio {
  background-image: url(Components/Img/principal.jpg);
}

.logoMisiones{
  background-image: url(Components/Img/fondo-misiones.jpg);
}

.logoEventos {
  background-image: url(Components/Img/Reglas.jpg);
}

.logoPremio {
  background-image: url(Components/Img/Canita-land-game.jpg);
}

.logoProgreso {
  background-image: url(Components/Img/Progresos-land.jpg);
}

.logoRegistrarse {
  background-image: url(Components/Img/Registrarse.jpg);
}

.logoEventos, .logoMisiones, .logoPremio, .logoProgreso, .logoRegistrarse, .logoInicio {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  flex-wrap: wrap;
  justify-content: space-between;
  float: flex;
  height: max-content;

  flex-shrink: 1;
  flex-basis: 24%;
}

.jugadores {
  width: 70%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.404);
  border-radius: 10px;
  border: 1px solid wheat;
  box-shadow: 0 0 10px 0 white;
}

.datos{
  width: 260px;
  display: inline-block;
  justify-content: space-between;
  height: max-content;
  margin: 40px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  border: 1px solid white;
  border-radius: 10px;

}