.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*BACKGROUND*/

        .background {
          background-image: url(Img/principal.jpg);
        }

        .background-Inicio {
          background-image: url(Img/Fondos-de-minecraft.jpg);
        }

        .background-Reglas {
          background-image: url(Img/fondo-mision.png);
        }

        .background-misiones {
          background-image: url(Img/reglamentos2.png);
        }

        .background-evento {
          background-image: url(Img/Canita-land-game.jpg);
        }

        .background-carnita {
          background-image: url(Img/reglamentos.png);
        }

        .background-avatar {
          background-image: url(Img/Progresos-land.jpg);
        }

        .background-evento, .background-Inicio, .background-misiones, .background-Reglas, .background, .background-carnita, .background-avatar {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-attachment: fixed;
          min-height: 100vh;
        }

/*LOGO*/

        .container-logo {
          background-color: rgba(0, 0, 0, 0.397);
          border-bottom: 1px solid white;
        }

        .logo {
          background-image: url(Img/CARNITA\ LAVA\ FULL.PNG);
          padding: 150px;
          padding-bottom: 70px;
          width: 43px;
          margin: auto;
          background-size: 353px;
          background-repeat: no-repeat;
          background-position: center;
          
        }

/* TITLE */

        .inicio {
          background-image: url(Img//inicio.png);
        }

        .bienvenidos {
          background-image: url(Img//bienvenidos.png);
        }

        .reglamento {
          background-image: url(Img//reglamento.png);
        }

        .carnita-games {
          background-image: url(Img/carnita.png);
        }

        .eventos {
          background-image: url(Img/eventos.png);
        }

        .misiones {
          background-image: url(Img/misiones.png);
        }

        .avatar {
          background-image: url(Img/avatars.png);
        }

        .bienvenidos, .inicio, .reglamento, .carnita-games, .eventos, .misiones, .avatar {
          padding: 150px;
          width: 43px;
          margin: auto;
          background-size: 353px;
          background-repeat: no-repeat;
          background-position: center;
        }

        .container-boton {
          background-color: rgba(0, 0, 0, 0.384);
        }

/*BOTTONS*/

        button {
          padding: 10px;
          margin: 20px;
          width: 246px;
          background-color: rgba(0, 0, 5, 0.578);
          color: white;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          border-radius: 5px;
          transition: 1s;
        }

        button:hover{
          background-color: rgba(0, 0, 0, 0.774);
          box-shadow: 0 0 20px 0 white;
          cursor: pointer;
          transition: 1s;
        }

        .boton-inicio {
          background-image: url(Img/inicioboton.png);
        }

        .boton-carnita {
          background-image: url(Img/carnita-games.btn.png);
        }

        .boton-misiones {
          background-image: url(Img/misiones.btn.png);
        }

        .boton-evento {
          background-image: url(Img/eventos.btn.png);
        }

        .boton-avatar {
          background-image: url(Img/avatars.btn.png);
        }

        .boton-reglas {
          background-image: url(Img/Reglamento.btn.png);
        }

        .boton-inicio, .boton-carnita, .boton-misiones, .boton-evento, .boton-avatar, .boton-reglas {
          padding: 22px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 142px;
        }

/*REGLAMENTOS*/

        .title-title-reglamento {
          background-image: url(Img/vamos-primero.png);
          padding: 46px;
            background-position: center;
            background-size: 214px;
            width: 56%;
            margin: auto;
            background-repeat: no-repeat;
            flex-wrap: wrap;
            justify-content: space-between;
            float: flex;
            flex-shrink: 1;
            flex-basis: 24%;
        }

        .title-title-reglamento2 {
          background-image: url(Img/ahora-vayamos.png);
        }

        .title-title-reglamento3 {
          background-image: url(Img/todas-las-normas.png);
        }

        .title-title-reglamento3, .title-title-reglamento2 {
          padding: 46px;
          background-position: center;
          background-size: 214px;
          width: 56%;
          margin: auto;
          background-repeat: no-repeat;

          flex-wrap: wrap;
          justify-content: space-between;
          float: flex;
          flex-shrink: 1;
          flex-basis: 24%;
        }
/*CONTAINER DESCRIPTION*/
        .container-description {
          background-color: rgba(0, 0, 0, 0.445);
          width: 80%;
          margin: auto;
        }
